.member-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: white; */
    text-align: center;
    color: rgb(246, 118, 166);
    
    overflow: hidden;
    transition: all 0.5s;
    cursor: pointer;
    text-decoration: none;
}

.member-card:hover{
    opacity: 0.5;
}

.member-image{
    cursor: pointer;
    border-radius: 20px;
}

.member-name{
    padding: 0;
    margin: 0 0 2px 0;
    cursor: pointer;
}

.member-alphabet{
    cursor: pointer;
}

.member-team{
    font-weight: 700;
    margin-bottom: 20px;
    cursor: pointer;
}

.member-link {
    text-decoration: none;
}