main{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    width: 100%;
}

.memeber-cards{
    margin: 20px 40px 150px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3vw;
    row-gap: 5vw;
    padding: 0px 7vw;
}

.title {
    margin-top: 50px;
    text-align: center;
    color: #F676A6;
    font-size: 5.63vw;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.btn {
    border: none;
    background-color: #F676A6;
    border-radius: 15vw;
    color: white;
    font-weight: 700;
    font-size: 1.5vw;
    width: 30vw;
    height: 10vh;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.7;
}

@media (min-width:1200px) {
    .memeber-cards{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (min-width:900px) and (max-width:1200px) {
    .memeber-cards{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .title {
        font-size: 6vw;
    }

    .btn {
        font-size: 2vw;
        width: 30vw;
        height: 10vh;
    }
}

@media (min-width:700px) and (max-width:900px) {
    .memeber-cards{
        grid-template-columns: 1fr 1fr 1fr
    }

    .title {
        font-size: 8vw;
    }

    .btn {
        font-size: 3vw;
        width: 40vw;
        height: 10vh;
    }
}

@media (min-width:500px) and (max-width:700px) {
    .memeber-cards{
        grid-template-columns: 1fr 1fr
    }

    .title {
        font-size: 10vw;
    }

    .btn {
        font-size: 3vw;
        width: 40vw;
        height: 8vh;
    }
}

@media (max-width:500px) {
    .memeber-cards{
        grid-template-columns: 1fr
    }
    .title {
        font-size: 12vw;
    }

    .btn {
        font-size: 4vw;
        width: 50vw;
        height: 8vh;
    }
}

