@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(255, 244, 246);
    font-family: 'Dosis', 'Noto Sans JP', sans-serif;
}